interface diagnostic {

    use text-index.{text-range};

    enum severity {
        error,
        warning,
        information,
        hint,
    }

    resource diagnostic {
        severity: func() -> severity;
        text-range: func() -> text-range;
        message: func() -> string;
    }

}
