enum nonterminal-kind {
{%- if rendering_in_stubs -%}
stub-1,
stub-2,
stub-3,
{%- else -%}
{%- for variant in model.kinds.nonterminal_kinds -%}
{# variant.documentation | indent(prefix = "/// ", first = true, blank = true) #}
{{ variant | kebab_case }},
{%- endfor -%}
{%- endif -%}
}

enum edge-label {
// Built-in:
{% for label in model.kinds.built_in_labels -%}
{{ label | kebab_case }},
{%- endfor %}

// Generated:
{% if rendering_in_stubs -%}
stub-1,
stub-2,
stub-3,
{%- else -%}
{% for variant in model.kinds.labels -%}
{{ variant | kebab_case }},
{%- endfor -%}
{%- endif -%}
}

enum terminal-kind {
// Built-in:
skipped,

// Generated:
{% if rendering_in_stubs -%}
stub-1,
stub-2,
stub-3,
{%- else -%}
{%- for variant in model.kinds.terminal_kinds -%}
{# variant.documentation | indent(prefix = "/// ", first = true, blank = true) #}
{{ variant | kebab_case}},
{%- endfor -%}
{%- endif -%}
}
